html{height:auto;}

#totalheader {background: paleturquoise; float: top; margin: 0 0 0 0; height:15%; weight:100%; }
#title {color: navy; text-align:center; }

#header {color:grey; text-align:right; margin-right: 5%; font-weight: bold; margin-bottom:10%;}

#header a {color:white; text-decoration:none; text-shadow:0 1px #fff;}
#header a:hover {color: black; }
#header a:active {color: green; }

#header img{vertical-align:middle;}

#content {background: rgb(234, 251, 251); height: 70%; weight:100%; text-align:center;
          font-family:"Sans"; overflow-y:scroll;}

#footer {background: paleturquoise; weight:100%; text-align:center;}

a:link, a:visited, a:active {color: black;  }
a:hover{color: purple; }

body{background: paleturquoise;}

#error{color:red; font-weight:bold;}

.error{color:red; font-weight:bold;}

#chess_board {border:5px; solid #333; table-layout:fixed; width:320px; margin-left:35%;}

#chess_board td {

    background:#fff;
    background:-moz-linear-gradient(top, #fff, #eee);
    background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));

    box-shadow:inset 0 0 0 1px #fff;

    -moz-box-shadow:inset 0 0 0 1px #fff;
    -webkit-box-shadow:inset 0 0 0 1px #fff;
    height:40px;
    text-align:center;
    vertical-align:middle;
    width:40px;
}

#chess_board tr:nth-child(odd) td:nth-child(even),

#chess_board tr:nth-child(even) td:nth-child(odd) {

    background:#ccc;
    background:-moz-linear-gradient(top, #ccc, #eee);
    background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
    box-shadow:inset 0 0 10px rgba(0,0,0,.4);
    -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);

}

.selected {border: 1px solid red; }

.hound{color:grey; }

.fox{color:brown;}

.username{color:white; text-shadow:0 1px #fff;}

.important{font-weight:bold; font-size:30px;}