{% load staticfiles %}
<html>
<head>
    <!-- Some stuff here which should be included in all templates for example js or css -->
    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!-- to included app-template dependent css -->
    {% endblock extra_css %}

    {% block extra_js %}
    <!-- to included app-template dependent js -->
    {% endblock extra_js %}

    {% block extra_head %}
    <!-- for anything else inside head -->
    {% endblock extra_head %}
    <title>{% block title %}Hound and Fox{% endblock %}</title>

</head>

<body id="body">

<div id="totalheader">
<!-- an icon and application name goes here -->
<div id="title">
    {% block atitle %}
    <H1><span class="hound">Hound</span> & <span class="fox">Fox</span> application</H1>
    {% endblock atitle %}
</div>

<div id="header">
    {% block menu %}
    <!-- Default menu here -->
    {% if not username %}
    <a href="/server/login_user/">Login</a>
    <a href="/server/register_user/">Register</a>
    {% else %}
        <br />
        {% if hound %}
        <img src="{% static 'images/dog.png' %}"/>
        {% else %}
        <img src="{% static 'images/fox.png' %}"/>
        {% endif %}
        Welcome,  <span class="username">{{ username }}</span>! (<a href="/server/logout_user/">Logout</a>)
        <br/><br/><br/>
    {% endif %}
    {% endblock menu %}
</div>

</div>

<hr/>

{% block content %}


{% endblock content %}



<hr/>

{% block footer %}
<div id="footer">

    © <strong>Pedro José Cazorla García</strong> (<a href="mailto:pedro.cazorla@estudiante.uam.es">@</a>) and
    <strong>Beatriz Romera de Blas</strong>    (<a href="mailto:beatriz.romera@estudiante.uam.es">@</a>)
</div>
{% endblock footer %}

</body>
</html>
