{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

{% endblock extra_css %}

{% block extra_js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"> </script>

{% endblock extra_js %}

{% if msg %}

    <strong>Game state:</strong> {{ msg }}<br/><br/>
{% endif %}

{% if board %}
<table id="chess_board" cellpadding="0" cellspacing="0">

    {% for item in board %}
    {% if forloop.counter0|divisibleby:8 %}
        <tr>{% endif %}
            {% if turn %}
            <td id=id_{{ forloop.counter0}} style='width: 20px' onclick="getID(this);">
            {% else %}
            <td id=id_{{ forloop.counter0}} style='width: 20px'>
            {% endif %}

            {% if item ==  0 %}
            {% elif item == 1 %}  <img src="{% static 'images/dog.png' %}" />
            {% else %}  <img src="{% static 'images/fox.png' %}" />
           </td>
        {% if forloop.counter|divisibleby:8 or forloop.last %}
            </tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>

{% endif %}