{% load staticfiles %}
<u class='important'>End of the game</u>
<br/><br/>
{{msg}}<br/><br/>

<script type="text/javascript">
    deleteTimeout();
</script>

{% if win %}
    <img src="{% static 'images/win.jpg' %}" alt="img"/>
{% else %}
    <img src="{% static 'images/lose.jpg' %}" alt="img"/>
{% endif %}

<br/><br/>