{% extends "server/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="content">

    {% if not username %}
        <br/>
        <h2>Welcome!</h2>
        <img src="{% static 'images/welcome.jpg' %}" alt="Welcome"/>
        <br/>
        <br/>

        Why don't you <a href="/server/login_user/">log-in</a> or <a href="/server/register_user/">register</a>?
    {% else %}
        <br/>
        <h2>You have an active game!</h2>
        <br/>
    <a href="/server/game">Let's go play it!</a>
    {% endif %}

    <br/><br/> Or, learn how to play with our <a href="/server/show">SHOW!</a>

</div>

{% endblock content %}