{% extends "server/base.html" %}
{% block content %}
<div id="content">

    <br/>
        <h1>Login</h1>
            {% if user.is_authenticated %}
                <p>Welcome {{ user.username }}! Nice to see you here
                     <br />
            {% else %}

            {% if error %}
                <span class="error">ERROR: {{error}}<br/><br/></span>
            {% endif %}

                Please enter your details
            <br/><br/>
            <form id="login_form" method="post" action="/server/login_user/">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                <br /><br/>
                Password: <input type="password" name="password" value="" size="50" />
                <br /><br/>
                Select your player type:
                <input type="radio" name="player_type" value="hound" checked/> Hound
                <input type="radio" name="player_type" value="fox"/> Fox
                <br /><br/>
                <input type="submit" value="Log-In" />
            </form>
        {% endif %}
        <a href="/server/index">Go back</a>
</div>

{% endblock content %}
