{% extends "server/base.html" %}
{% block content %}
<div id="content">
        <h1>Logout</h1>

        <strong>Dear {{user}}, you have been logged out</strong><br />
    <br/>
    <a href="/server/index">Go back to the main page</a>
</div>
{% endblock content %}
