<html>
    <body>
    <p>
        {% if moveDone %}

            <p>Move created.
                <ul>
                    <li>moveId (origin/target) = {{move.id}} ({{move.origin}}/{{move.target}})</li>
                    <li>gameId = {{game.id}}</li>
                    <li>catUser = {{game.catUser.username}} ({{game.catUser.id}})</li>
                    <li>mouseUser = {{game.mouseUser.username}} ({{game.mouseUser.id}})</li>
                </ul>
        {%  else %}
            <strong>ERROR:</strong> {{error}} <br/>
        {% endif %}

        {% if moveDone %}
        <a href="/server/index">Index</a>
        {% endif %}
    </body>
</html>