{% extends "server/base.html" %}
{% block content %}
<div id="content">
  <br/>
  Please log in <a href="/server/login_user/">here</a>!<br />
    (or
        <a href="/server/index">Go Back</a>)
</div>
{% endblock content %}