{% extends "server/base.html" %}

{% block content %}
<div id="content">
    <br/>
        <h1>Register User</h1>

        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/server/">Return to the homepage.</a><br />
        {% else %}
    <strong>Register here!</strong><br />
    <br/>
        {% if errors %}
            <span class="error"><strong>ERROR:</strong> </span> <br/>
        {% endif %}
        <form id="user_form" method="post" action="/server/register_user/">

            {% csrf_token %}
            {{ user_form.as_p }}<br/>
               <!-- Provide a button to click to submit the form. -->


            <input type="submit" name="submit" value="Register" />
        </form>

        <a href="/server/index">Go back</a>
        {% endif %}
</div>
{% endblock content %}