{% extends "server/base.html" %}
{% load staticfiles %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!-- <link rel="stylesheet" type="text/css" href="{% static "css/raton.css" %}"/> -->
{% endblock extra_css %}

{% block extra_js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"> </script>
{% endblock extra_js %}


{% block content %}
<div id="content">
    <br/>
    <script type="text/javascript">
        refresh2();
    </script>

    <br/>The <span class="important">SHOW!</span> must go on<br/><br/>
    <div id="game">
    <div id="error">
    </div>
    <div id="board" onload=refresh2()>
        Loading...
    </div>
    </div>

    Go back to the <a href="/server/index">Index</a>

</div>
{% endblock content %}